/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";

 
body {
    font-family: AvertaStd,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

pre {
    tab-size: 8;
}

@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }
}
.post-index{
    padding-top: 50px !important;
   
}

.image-editor-index
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-right: 10px;
}
.editor-post-info
{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.date-topips-posts
{
    display: flex;
}
.date-post
{
    padding-right: 10px;
}
.large-title {
    font-family: AvertaStd;
    font-size: 36px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
}
.large-title:hover{
    text-decoration: none;
}
.image-post-index{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    border-radius: 6px;
    box-shadow: 0 36px 64px 0 rgba(0,0,0,.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.text-post-index
{
    margin: 0px 0 10px;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 36px;
    color: #555555;
    text-align: justify;
}
.text-post
{
    margin: 0px 0 10px;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 36px;
    color: #000;
    text-align: -webkit-auto;
}
.body-post-index{
    margin-bottom: 20px;
}

.read-me
{
    text-decoration: underline;
    color: #910000 !important;
    background-color: none;
}
a:hover {
	text-decoration: underline; 
    color: #FF0000 !important;
    background: none !important;
    }

.will-page{
    margin-bottom: 50px !important;
    
}
.will-page, spam {
    list-style-type: none;
	display: inline-block;
    transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
    
}

.pagination > li > a, .pagination > li > span {
    
    
    line-height: 1.428571429;
    text-decoration: none;
    color:#910000; 
    margin-left: -1px;
    padding: 1.1em 1.6em !important;
}
